<main>
    <app-hamburger-menu></app-hamburger-menu>
    <h1>
        Dashboard FORD
    </h1>

    <div class="container">
        <div class="tela">
            <div class="veiculo">
                <h2>veículo</h2>
                <select [(ngModel)]="selectedVehicle">
                    <option *ngFor="let vehicle of vehicles" [ngValue]="vehicle">
                        {{ vehicle.vehicle }}
                    </option>
                </select>
            </div>
        </div>

        <div class="tela">
            <div class="vendas">
                <h2>total de vendas</h2>
                <p *ngIf="selectedVehicle">{{ selectedVehicle.volumetotal }}</p>
                <p>unid.</p>
            </div>
        </div>

        <div class="tela">
            <div class="conectados">
                <h2>conectados</h2>
                <p *ngIf="selectedVehicle">{{ selectedVehicle.connected }}</p>
                <p>unid.</p>
            </div>
        </div>

        <div class="tela">
            <div class="update">
                <h2>Update Software</h2>
                <p *ngIf="selectedVehicle">{{selectedVehicle.softwareUpdates}}</p>
                <p>unid.</p>
            </div>
        </div>
    </div>



    <div class="carro_conteiner">
        <div class="carro">
            <img *ngIf="selectedVehicle" [src]="selectedVehicle.img" alt="imagem veiculo">
        </div>

    </div>




</main>


<section class="rodape">
    <table>
        <thead>
            <tr>
                <th>Código - Vin</th>
                <th>Odômetro</th>
                <th>Nível de Combustível</th>
                <th>Status</th>
                <th>Lat.</th>
                <th>Long.</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="text" [(ngModel)]="vinCode" placeholder="Ex: 2FRHDUYS2Y63NHD22454"
                        class="vin-input-table" (keyup.enter)="searchByVin()" />
                </td>
                <td *ngIf="vehicleInfo">{{ vehicleInfo.odometro }} Km</td>
                <td *ngIf="vehicleInfo">{{ vehicleInfo.nivelCombustivel }}%</td>
                <td *ngIf="vehicleInfo">{{ vehicleInfo.status }}</td>
                <td *ngIf="vehicleInfo">{{ vehicleInfo.lat }}</td>
                <td *ngIf="vehicleInfo">{{ vehicleInfo.long }}</td>

                <td *ngIf="!vehicleInfo" colspan="5" class="empty-cell"></td>
            </tr>
        </tbody>
    </table>
</section>