<main>
    <h1>
        Dashboard FORD
    </h1>

    <div class="container">
        <div class="tela">
            <div class="veiculo">
                <h2>veiculo</h2>
                <select [(ngModel)]="selectedVehicle">
                    <option *ngFor="let vehicle of vehicles" [ngValue]="vehicle">
                        {{ vehicle.vehicle }}
                    </option>
                </select>
            </div>
        </div>
    
        <div class="tela">
            <div class="vendas">
                <h2>total de vendas</h2>
                <p *ngIf="selectedVehicle">{{ selectedVehicle.volumetotal }}</p>
                <p>unid.</p>
            </div>
        </div>
    
        <div class="tela">
            <div class="conectados">
                <h2>conectados</h2>
                <p *ngIf="selectedVehicle">{{ selectedVehicle.connected }}</p>
                <p>unid.</p>
            </div>
        </div>
    
        <div class="tela">
            <div class="update">
                <h2>Update Software</h2>
                <p *ngIf="selectedVehicle">{{selectedVehicle.softwareUpdates}}</p>
                <p>unid.</p>
            </div>
        </div>
    </div>
    

  
    <div class="carro_conteiner">
        <div class="carro">
            <img *ngIf = "selectedVehicle" src = {{selectedVehicle.img}} alt="imagem veiculo">
        </div>
        
    </div>




</main>


<section class="rodape">
    <table>
      <thead>
        <tr>
          <th>Código - Vin</th>
          <th>Odômetro</th>
          <th>Nível de Combustível</th>
          <th>Status</th>
          <th>Lat.</th>
          <th>Long.</th>

        </tr>
      
      </thead>
      <tbody>
        <tr>
            <td>1FTHDUYSZ45N182455</td>
            <td>50000 Km</td>
            <td>90%</td>
            <td>on</td>
            <td>-12.2232</td>
            <td>-35.2314</td>  
        </tr>
      </tbody>
    </table>
  </section>