<main>
    <h1>
        Dashboard FORD
    </h1>

    <div class="tela_01">
        <div class="veiculo">
            <h2> veiculo</h2>
            <select name="veiculos">
                <option value="Ranger">Ranger</option>
                <option value="Mustang">Mustang</option>
                <option value="territory">territory</option>
                <option value="Bronco_sport">Bronco sport</option>

            </select>

        </div>
    </div>


    <div class="tela_02">
        <div class="vendas">
            <h2> total de vendas</h2>
            <h3> 1500</h3>
            <p>
                unid.
            </p>

        </div>
    </div>

    <div class="tela_03">
        <div class="conectados">
            <h2> conectados</h2>
            <h3>500</h3>
            <p>
                unid.
            </p>

        </div>
    </div>

    <div class="tela_04">
        <div class="update">
            <h2> Update Software</h2>
            <h3>750</h3>
            <p> unid.</p>
            
        </div>
       

    </div>

    <div class="carro_conteiner">
        <div class="carro">
            <img src="img/mustang.png"  alt="ford_mustang">
        </div>
        
    </div>




</main>